.sectionBanner {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.sectionBanner p {
  font-size: 3em;
  color: #fff;
}

.secondBannerLittle {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.mainBanner {
  width: 800px;
  height: 400px;
}

.mainBanner img {
    border-radius: 8px;
}

/* .mainBanner:hover {
  transform: scale(1.02); 
  transition-duration: 0.3s;
} */

.secondBanner {
  width: 440px;
  height: 190px;
  background-image: url("../img/table-1589012_1920.jpg");
  border-radius: 8px;
  margin-bottom: 20px;
}

.thirdBanner {
  width: 440px;
  height: 190px;
  background-image: url("../img/warm-and-cozy-1975215_1920.jpg");
  border-radius: 8px;
}

.carousel .slider-wrapper {
  width: 800px;
}
.carousel-status {
  display: none;
}