.sectionBanners {
  display: flex;
  justify-content: center;
  margin: 1.875rem 0;
}

.sectionBanners p {
  font-size: 3em;
  color: #fff;
}

.mainBanner {
  min-width: 35%;
  height: auto;
}

.banners {
  padding-left: 1.25rem;
  display: flex;
  flex-direction: column;
}

.mainBanner img {
    border-radius: 0.5rem;
}

/* .mainBanner:hover {
  transform: scale(1.02); 
  transition-duration: 0.3s;
} */

.secondBanner {
  width: 27.5rem;
  height: 11.875rem;
  background-image: url("../img/table-1589012_1920.jpg");
  border-radius: 0.5rem;
  margin-bottom: 1.25rem;
}

.thirdBanner {
  width: 27.5rem;
  height: 11.875rem;
  background-image: url("../img/warm-and-cozy-1975215_1920.jpg");
  border-radius: 0.5rem;
}

.carousel .slider-wrapper {
  max-width: 50rem;
  height: auto;
} 

.carousel-status {
  display: none;
}

@media (max-width: 1280px) {
  .banners {
    display: none;
  }

  .thirdBanner {
    display: none;
  }

  .carousel-root {
    margin-left: 20px;
    margin-right: 20px;
  }


}