.button {
  height: 40px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600px;
  border: none;
  border-radius: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.orange {
  border: 0.0625rem solid;
  background-color: #ff6954;;
  width: 12.5rem;
}

.orange:hover {
  color: #ff6954;;
  background-color: #ffffff;
}

.white {
  border: 0.0625rem solid #66543B;
  background-color: #ffffff;
  color: #66543B;
  width: 12.5rem;
}

@media (max-width: 1050px) {
  .orange {
    width: 9.375rem;
  }
}