.review {
  border-radius: 8px;
  width: 300px;
  height: 168px;
  padding: 30px 30px;
  margin-right: 20px;
}

.review:last-child {
  margin-right: 0;
}

.quote {
  color: #d1f2ebaf;
  font-family: 'Secular One', sans-serif;
  margin: 0;
  font-size: 180px;
  position: relative;
  z-index: -1;
  left: -126px;
  bottom: 24px;
}

.review-text {
  font-size: 20px;
  color: rgba(32, 32, 32, 0.979);
}

.review-author {
  font-weight: 600;
  font-size: 26px;
}

.p-rating {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  font-size: 32px;
}

.p-rating-star {
  background-color: transparent;
  border: transparent;
  color: #F9E79F;

  margin: 0 2px;
  padding: 0;
}

@media (max-width: 950px) {
  .review:last-child {
    margin-top: 20px;
  }
}

@media (max-width: 796px) {
  .review {
    margin-top: 20px;;
  }
}
