.container {
  position: relative;
  width: 180px;
  height: 20px;
  z-index: 1;
}

.item {
  position: relative;
  background: #ff6954;;
  color: #fff;
  width: 80%;
  z-index: 2;
  padding: 12px;
  border: 1px solid #fff;
  margin: 5px;
}

.isOpen {
  position: absolute;
  background: #ff6954;;
  width: 100%;
  top: 100%;
  padding: 10px;
  /* margin-top: 11px; */
  left: -10px;
  z-index: 1;
}