.container {
  position: relative;
  width: 180px;
  height: 20px;
  z-index: 1;
}

.item {
  position: relative;
  background: #ff6954;;
  color: #fff;
  width: 80%;
  z-index: 2;
  padding: 12px;
  border-bottom: 1px solid #fff;
  margin: 5px;
  margin-left: 15px;
}

.item:last-child {
  border-bottom: none;
}

.item:hover {
  color: #683539;

}

.isOpen {
  position: absolute;
  background: #ff6954;;
  width: 100%;
  top: 100%;
  padding: 10px;
  left: -10px;
  z-index: 1;
}