.informationBox {
  display: flex;
  justify-content: center;
}
.informationBoxContent {
  max-height: 25rem;
  width: 37.5rem;
  border-radius: 0.5rem;
  text-align: start;
}
.informationBoxContentInside {
  padding: 3.125rem;
  font-size: 1.25rem;
}

.left {
  background-color: #D1F2EB;
  margin-right: 1.875rem;
}
.right {
  background-color: #F9E79F;
}

.right p {
  font-size: 1.625rem;
  line-height: 1.5;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}
.boxSecondContent {
  font-size: 1.25rem;
  padding: 3.125rem;
}

.coffeeCup {
    position: relative;
    z-index: 1;
    max-width: 35%;
    right: -472px;
    top: -50px;
}

@media (max-width: 1280px) {
  .informationBox {
    display: block;
  }
  .informationBoxContent {
    max-width: 37.5rem;
  }
}

@media (max-width: 800px) {
  .coffeeCup {
    display: none;
  }
}

@media (max-width: 700px) {
  .informationBoxContent {
    max-width: 25rem;
  }

  .right p {
    font-size: 1.25rem;
  }

  .left {
    margin-right: 0;
  }
}

@media (max-width: 320px) {
  .informationBoxContent {
    max-width: 300px;
  }
}