.informationBox {
  display: flex;
  justify-content: center;
}
.informationBoxContent {
  width: 37.5rem;
  height: 25rem;
  border-radius: 0.5rem;
  text-align: start;
}
.informationBoxContentInside {
  padding: 3.125rem;
  font-size: 1.25rem;
}

.left {
  background-color: #D1F2EB;
  margin-right: 1.875rem;
}
.right {
  background-color: #F9E79F;
}

.right p {
  font-size: 26px;
  line-height: 1.5;
}

.nadpis {
  font-size: 1.5rem;
  font-weight: 600;
}
.boxSecondContent {
  font-size: 1.25rem;
  padding: 3.125rem;
}

@media (max-width: 1280px) {
  .informationBox {
    display: block;
  }
}
