.topNavigation {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #683539;
    border-bottom: 1px solid #683539;
    width: 100%;
}

.topNavigation a,
.topNavigation > ul > li > div {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #683539;    
    /* background-color: transparent ; */
    margin: 0;
    position: relative;
    /* transition: all 0.15s ease-in; */
    z-index: 1;

}

.topNavigation a::after,
.topNavigation > ul > li > div::after  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 0;
    z-index: -1;
    /* background-color: #fff;
    transition: all 0.15s ease-in; */

}

.topNavigation a:hover::after,
.topNavigation > ul > li > div:hover::after {
    width: 100%;
    /* background-color: #fff; */
}

.topNavigation ul {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

}
.topNavigation li {
    display: inline-flex;
    background-color: #fff;
    list-style: none; 
    text-transform: uppercase;
    font-size: 16px;
    color: #683539;
    flex: 0 0 auto;
    max-width: 12.5rem;
    min-width: 6.25rem;
    align-content: center;
    align-items: center;
    align-self: center;
}

.a-chevron-down {
    color: #683539;
}

.fas {
    padding-left: 10px;
}

.topNavigation li > * {
    height: 100%;
    padding: 0.9375rem 1.875rem;
}

.topNavigation a:hover,
.topNavigation > ul > li > div:hover {
    color: #ff6954;
    z-index: 2;
}

/* i.fas.fa-chevron-down:hover {
    transform: rotate(180deg);
} */

/* HAMBURGER */
  
.active {
color:#9F2B1F;
}
 
.menu-btn {
    display: none;
}

/* @media (max-width: 900px) {

    .topNavigation .menu-icon {
        padding: 28px 32px;
        position: relative;
        cursor: pointer;
        margin-right: 20px;
    }
  
    .topNavigation .menu-icon .nav-icon {
        background: #9F2B1F;
        display: block;
        margin-right: 20px;
        height: 2px;
        width: 30px;
        position: relative;
        transition: background .2s ease-out;
    }
    
    .topNavigation .menu-icon .nav-icon:before,
    .topNavigation .menu-icon .nav-icon:after {
        background: #9F2B1F;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        transition: all .2s ease-out;
    }
    
    .topNavigation .menu-icon .nav-icon:before {
        top: 8px;
    }
  
    .topNavigation .menu-icon .nav-icon:after {
        top: -8px;
    }
  
    .topNavigation .menu-btn {
        text-align: left;
        display: none;
  }
  
  .topNavigation .menu-btn:checked ~ .navigationMenu {
    max-height: 300px;
    width: 100%;
  }
  
  .topNavigation .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
} */