.product-box {
  width: 350px;
  height: 450px;
  border: 1px solid rgb(158, 156, 156);
  border-radius: 8px;
  float: left;
  margin-right: 30px;
}

.product-box:last-child {
  margin-right: 0;
}

.description {
  margin: 10px 30px 0 30px;
  text-align: left;
}

.imageProduct {
  margin-top: 20px;
  height: 100px;
  width: 100px;
}
.price {
  font-weight: 600;
  color: #683539;
  font-size: 18px;
}

.buttons {
  display: flex;
}

.nameOfProduct {
  font-size: 24px;
  font-weight: 600;
  color: #683539;
}

.buttonBorder {
  background-color: #fff;
  color: #683539;
  font-weight: 600;
  border: 2px solid #683539;
  padding: 5px 10px;
  margin: 0 5px;
}
.minus {
  padding: 5px 11px;
}
.buttonBorder:hover {
  background-color: #683539;
  color: #fff;
}

.product-box:hover {
  transform: scale(1.02); 
  transition-duration: 0.3s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.274);
}