.productBox {
  width: 21.875rem;
  height: 28.125rem;
  border: 0.0625rem solid rgb(158, 156, 156);
  border-radius: 0.5rem;
  margin-right: 1.875rem;
  position: relative;

}

.productBox:last-child {
  margin-right: 0;
}

.description {
  margin: 0.625rem 1.875rem 0 1.875rem;
  text-align: left;
  font-size: 0.875rem;
  height: 90px;
  overflow: hidden;
}

.imageProduct {
  margin-top: 1.25rem;
  height: 6.25rem;
  width: 6.25rem;
}

.fa-coffee {
  color: #683539;
}

.price {
  font-weight: 600;
  color: #683539;
  font-size: 1.125rem;
}

.buttons {
  display: flex;
}

.nameOfProduct {
  font-size: 1.5rem;
  font-weight: 600;
  color: #683539;
}

.buttonBorder {
  background-color: #fff;
  color: #683539;
  font-weight: 600;
  border: 0.125rem solid #683539;
  padding: 0.3125rem 0.625rem;
  margin: 0 0.3125rem;
}

.minus {
  padding: 0.3125rem 0.6875rem;
}

.buttonBorder:hover {
  background-color: #683539;
  color: #fff;
}

.productBox:hover {
  transform: scale(1.02);
  transition-duration: 0.3s;
  box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.274);
}

/* media queris */
@media (max-width: 1280px) {
  .productBox:last-child {
    margin-top: 1.25rem;
    margin-right: 1.875rem;
  }

  .productBox {
    margin-top: 1.25rem;
  }



}

@media (max-width: 1050px) {
  .productBox {
    height: 28.75rem;
  }
}

@media (max-width: 970px) {
  .productBox {
    height: 29.375rem;
  }
}

@media (max-width: 900px) {
  .productBox {
    height: 31.25rem;
  }
}

@media (max-width: 870px) {
  .productBox {
    height: 32.5rem;
  }
}

@media (max-width: 830px) {
  .productBox {
    float: none;
    display: block;
    margin: 1.25rem auto;
  }

  .productBox:last-child {
    margin-right: auto;
  }
}
