.topMenu {
    display: flex;
    justify-content: space-around;
    background-color: #683539 ;
    width: 100%;
}

.topMenu a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 30px;
    color: #fff;
    background-color: #683539 ;
    margin: 0;
    transition: color .3s, box-shadow .3s;
    box-shadow: inset 0 0 0 0 #ff6954;
}
.topMenu ul {
    margin: 0;
    width: 100%;
}
.topMenu li {
    display: inline-flex;
    background-color: #683539 ;
    border: 1px solid#683539 ;
    list-style: none; 
    order: 5;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
}

.topMenu a:hover {
    box-shadow: inset 100px 0 0 0 #ff6954;
    background-color: #ff6954;;
    color: #fff;
}