.topMenu {
    display: flex;
    justify-content: space-around;
    background-color: #66543B;
    width: 100%;
}

.topMenu a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 30px;
    color: #fff;
    background-color: #66543B;
    margin: 0;
}
.topMenu ul {
    margin: 0;
    width: 100%;
}
.topMenu li {
    display: inline-flex;
    background-color: #66543B;
    border: 1px solid #66543B;
    list-style: none; 
    order: 5;

    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
}

.topMenu a:hover {
    background-color: #ECE0D0;
    color: #66543B;
}