.App {
  text-align: center;
  min-height: 800px;
  
}

header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.box {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
